{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SciBoost.de</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'all.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
            <div class="profile">
                <img src="{% static 'sci.jpg' %}" alt="profile_picture">
                <h3>SciBoost</h3>
            </div>
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-file"></i></span>
                        <span class="item">Upload</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-user-shield"></i></span>
                        <span class="item">Results</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                        <span class="item">Settings</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <!--<script src="{% static 'script.js' %}"></script>-->
        <div class="row it">
            <div class="col-sm-offset-1 col-sm-10" id="one">
                <div class="row"></div>
                <div id="uploader">
                    <div class="row uploadDoc"></div>
                </div>
                <div class="content">
                    <h1>Upload a PubMed file</h1>
                    <form method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="pubmed_file">Select File:</label>
                            <input type="file" name="pubmed_file" id="pubmed_file" accept=".txt">
                        </div>
                        <div>
                            <button type="submit" class="form-group1">Upload</button>
                        </div>
                    </form>
        
                    <form action="/demo/" method="GET">
                        <button type="submit" class="form-group1">Demo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
